page-view-note {
    ion-content {
        background: url(../assets/imgs/logo.png) no-repeat center fixed;
        background-size: cover;
        
    }

    .note-date{
        font-size: 1em;
        color: black;
        margin-bottom: 12px;
    }
}