page-home {
    ion-content {
        background: url(../assets/imgs/logo.png) no-repeat center fixed;
        background-size: cover;
       
    }

    .date {
        font-weight: bold;
        //color: black;
        padding-right: 24px;
        font-size: 0.8em;
    }

    

    
}

